<!-- 新闻详情页 -->
{% extends 'base.html' %}
{% load static %}
{% block main_block %}
    <main>
        <!-- TODO: -->
        <div class="container">
            <h1 class="post-detail-title"> TITLE </h1>
            <p class="post-detail-info"> TIME  <a href="#">SOURCE</a></p>
            <div class="post-detail-content">
                <p>
                    虎扑7月14日讯 &nbsp; 今日凌晨，曼联主场迎战南安普顿，比赛第22分钟，B费助攻马夏尔进球，帮助曼联将场上比分改写2比1，曼联反超比分。
                </p>
                <p>
                    据Squawka数据统计，送出助攻帮助球队取得领先的B费本赛季在联赛已经贡献了7次助攻，他成为了2020年贡献助攻最多的英超球员。
                </p>
                <p>
                    值得一提的是，曼联中场在今年2月才在英超联赛上演首秀。B费本赛季已为球队出场11次，打进7球贡献7次助攻。
                </p>
                <p>
                    相关阅读：GIF：2分钟2球！马夏尔传射建功，曼联反超比分  (编辑：姚凡)
                </p>
            </div>
        </div>
    </main>
{% endblock main_block %}
