<!-- 登录表单 -->
{% extends 'base.html' %}
{% load static %}
{% block main_block %}
    <main>
        <div class="login-card bg-light" style="border-radius: 10px">
            <!-- TODO: load static -->
            {% load static %}
            <img class="profile-img-card" src="{% static 'img/headpicture.jpg' %}">
            <p class="profile-name-card"> </p>
            <!-- TODO: POST表单 -->
            <form class="form-signin" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% if login_form.captcha.errors %}
                    <div class="alert alert-warning"> {{ login_form.captcha.errors }} </div>
                {% elif message %}
                    <div class="alert alert-waring"> {{ message }} </div>
                {% endif %}
                <span class="reauth-email"></span>
                <input class="form-control" type="email" id="inputEmail" required="" placeholder="邮箱信址" name="email" autofocus="">
                <input class="form-control" type="password" name="password" id="inputPassword" required="" placeholder="你的密钥">

                {{ login_form.captcha.label_tag }}
                {{ login_form.captcha }}

                <div class="checkbox">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="formCheck-1">
                        <label class="form-check-label" for="formCheck-1">牢记</label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">登入</button>
            </form>
            <a class="forgot-password" href="#">忘记密码？</a>
        </div>
    </main>
{% endblock main_block %}
