<!-- 注册表单 -->
{% extends 'base.html' %}
{% load static %}
{% block main_block %}
    <main>
        <div class="login-card bg-light" style="border-radius: 10px">
            <!-- TODO: load static -->
            {% load static %}
            <img class="profile-img-card" src="{% static 'img/avatar_2x.png' %}">
            <p class="profile-name-card"> </p>
            <!-- TODO: POST表单 -->
            <form class="form-signin" action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                {% if register_form.captcha.errors %}
                    <div class="alert alert-warning"> {{ register_form.captcha.errors }} </div>
                {% elif message %}
                    <div class="alert alert-warning"> {{ message }} </div>
                {% endif %}
                <span class="reauth-email"> </span>
                <input class="form-control" type="email" id="inputEmail" required="" placeholder="邮箱信址" autofocus="" name="email">
                <input class="form-control" type="password" id="inputPassword" required="" placeholder="你的密钥" name="password">
                <input class="form-control" type="password" id="reinputPassword" required="" placeholder="再次输入" name="password_repeat">
                {{ register_form.captcha.label_tag }}
                {{ register_form.captcha }}
                <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">加入我们</button>
            </form><a class="forgot-password" href="/login">已经注册？</a></div>
    </main>
{% endblock main_block %}
